.text-area {
    width: 100%;
    height: 75px;
}


.grey-border {
    border: 2px lightgray solid;
    border-left: none;
}

.save-btn {
    color: blue;
    background-color: chartreuse;
}

.grey {
    background-color: lightgray;
}

.light-green {
    background-color: lightgreen;
}

.red {
    background-color: red;
}